{
	"presets": [
		["@vue/app", { targets: { node: "current" }, modules: "commonjs" }]
  ],
	"plugins": [
		"@babel/plugin-proposal-function-bind",
		"@babel/plugin-proposal-pipeline-operator",
		["@babel/plugin-proposal-decorators", { "legacy": true }],
		["@babel/plugin-proposal-class-properties", { "loose": true }]
	]
}
